@using PestApp.ViewModels
@{
    ViewData["Title"] = "LogIn";
}
@model LogInViewModel
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Email" class="form-control" />
    <input asp-for="Password" class="form-control" />
    <input type="submit" value="Log In" />
}

